{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}Sitemap{% endblock %}
{% block description %}Sitemap de notre fiduciaire en Suisse : Accédez facilement à toutes nos pages dédiées à la comptabilité, fiscalité et gestion d'entreprise.{% endblock %}
{% block url %}{{ path('app_site_map') }}{% endblock %}

{% block ogTitle %}Fiduciaire Genevoise - Sitemap{% endblock %}
{% block ogUrl %}https://fiduciaire-genevoise.ch/sitemap{% endblock %}
{% block ogImage %}{{ asset('media/site/fiduciaire-genevoise-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Fiduciaire Genevoise{% endblock %}
{% block ogDescription %}Sitemap de notre fiduciaire en Suisse : Accédez facilement à toutes nos pages dédiées à la comptabilité, fiscalité et gestion d'entreprise.{% endblock %}

{% block body %}
    <section class="bg-main px-6 py-24 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-6xl">Sitemap</h1>
            <p class="mt-6 text-lg leading-8 text-gray-100">Sitemap de notre fiduciaire en Suisse basée à Genève, Lausanne et Bâle : Accédez facilement à toutes nos pages dédiées à la comptabilité, fiscalité et gestion d'entreprise.</p>
        </div>
    </section>

    <section class="bg-white px-6 py-12 lg:py-24 lg:px-8">
        <div class="mx-auto max-w-4xl text-base leading-7 text-gray-700 space-y-8">
            <div>
                <h2 class="mt-2 text-2xl font-bold tracking-tight text-gray-900">Services</h2>
                <div class="mt-8 px-6">
                    <ul class="list-disc space-y-4">
                        <li>
                            <a href="{{ path('app_services_fiduciaire') }}" class="text-lg font-second">Services fiduciaire</a>
                        </li>
                        <li>
                            <a href="{{ path('app_audit_et_controles') }}" class="text-lg font-second">Audit et contrôles</a>
                        </li>
                        <li>
                            <a href="{{ path('app_corporate_finance') }}" class="text-lg font-second">Corporate finance</a>
                        </li>
                        <li>
                            <a href="{{ path('app_conseil_entreprise') }}" class="text-lg font-second">Conseil entreprise</a>
                        </li>
                        <li>
                            <a href="{{ path('app_controle_restreint') }}" class="text-lg font-second">Contrôle restreint</a>
                        </li>
                        <li>
                            <a href="{{ path('app_comptabilite') }}" class="text-lg font-second">Comptabilité</a>
                        </li>
                        <li>
                            <a href="{{ path('app_rh') }}" class="text-lg font-second">RH et gestion des salaires</a>
                        </li>
                        <li>
                            <a href="{{ path('app_fiscalite') }}" class="text-lg font-second">Fiscalité</a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_societes') }}" class="text-lg font-second">Administration de sociétés</a>
                        </li>
                        <li>
                            <a href="{{ path('app_services_audit_controles') }}" class="text-lg font-second">Audit et contrôles (services fiduciaire)</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <h2 class="mt-2 text-2xl font-bold tracking-tight text-gray-900">Création de sociétés</h2>
                <div class="mt-8 px-6">
                    <ul class="list-disc space-y-4">
                        <li>
                            <a href="{{ path('app_create_society_SA') }}" class="text-lg font-second">Créer une Société Anonyme (SA)</a>
                        </li>
                        <li>
                            <a href="{{ path('app_create_society_SARL') }}" class="text-lg font-second">Créer une Société à Responsabilité Limitée (SARL)</a>
                        </li>
                        <li>
                            <a href="{{ path('app_create_society_RI') }}" class="text-lg font-second">Créer une Raison Individuelle (RI)</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <h2 class="mt-2 text-2xl font-bold tracking-tight text-gray-900">Nos bureaux</h2>
                <div class="mt-8 px-6">
                    <ul class="list-disc space-y-4">
                        <li>
                            <a href="{{ path('app_office_geneva') }}" class="text-lg font-second">Fiduciaire Genevoise à Genève</a>
                        </li>
                        <li>
                            <a href="{{ path('app_office_lausanne') }}" class="text-lg font-second">Fiduciaire Genevoise à Lausanne</a>
                        </li>
                        <li>
                            <a href="{{ path('app_office_bale') }}" class="text-lg font-second">Fiduciaire Genevoise à Bâle</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <h2 class="mt-2 text-2xl font-bold tracking-tight text-gray-900">Support</h2>
                <div class="mt-8 px-6">
                    <ul class="list-disc space-y-4">
                        <li>
                            <a href="{{ path('app_a_propos') }}" class="text-lg font-second">À propos</a>
                        </li>
                        <li>
                            <a href="{{ path('app_contact') }}" class="text-lg font-second">Contactez-nous</a>
                        </li>
                        <li>
                            <a href="{{ path('app_faq') }}" class="text-lg font-second">FAQ</a>
                        </li>
                        <li>
                            <a href="{{ path('app_blog') }}" class="text-lg font-second">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <h2 class="mt-2 text-2xl font-bold tracking-tight text-gray-900">Client</h2>
                <div class="mt-8 px-6">
                    <ul class="list-disc space-y-4">
                        <li>
                            <a href="{{ path('app_login') }}" class="text-lg font-second">Connexion</a>
                        </li>
                        <li>
                            <a href="{{ path('app_devenir_client') }}" class="text-lg font-second">Devenir client</a>
                        </li>
                        <li>
                            <a href="{{ path('app_newsletter') }}" class="text-lg font-second">Newsletter</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <h2 class="mt-2 text-2xl font-bold tracking-tight text-gray-900">Légal</h2>
                <div class="mt-8 px-6">
                    <ul class="list-disc space-y-4">
                        <li>
                            <a href="{{ path('app_mentions_legales') }}" class="text-lg font-second">Mentions légales</a>
                        </li>
                        <li>
                            <a href="{{ path('app_donnees_personnelles') }}" class="text-lg font-second">Données personnelles</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <h2 class="mt-2 text-2xl font-bold tracking-tight text-gray-900">Nos articles de Blog</h2>
                <div class="mt-8 px-6">
                    <ul class="list-disc space-y-4">
                        {% for post in posts %}
                            <li class="text-lg">
                                <a href="{{ path('app_blog_post', {'slug': post.slug }) }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">
                                    {{ post.title }}
                                </a>
                                <time datetime="{{ post.createdAt | date('d F Y') }}" class="capitalize text-gray-400 text-base">{{ post.createdAt | date('d F Y') | format_date(locale='fr') }}</time>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}