{% extends 'base.html.twig' %}

{% block title %}Comptabilité, audit et fiscalité à Genève{% endblock %}

{% block body %}
    <div class="relative bg-white">
        <div class="mx-auto max-w-7xl lg:grid lg:grid-cols-12 lg:gap-x-8 lg:px-8">
            <div class="px-6 pb-24 pt-10 sm:pb-32 lg:col-span-7 lg:px-0 lg:pb-24 lg:pt-24 xl:col-span-6">
                <div class="mx-auto max-w-2xl lg:mx-0">
                    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:mt-10 sm:text-6xl">Au service des entreprises, dans tous leurs projets</h1>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Nos services couvrent l’ensemble du secteur fiduciaire pour vous accompagner dans la gestion comptable, administrative et juridique de votre activité.</p>
                    <div class="mt-10 flex items-center gap-x-6">
                        <a href="{{ path('app_devenir_client') }}" class="text-sm rounded-lg font-semibold bg-main px-3.5 py-2.5 text-white border-solid border border-main hover:bg-second hover:border-second transition duration-200">Devenir client</a>
                        <a href="{{ path('app_contact') }}" class="text-sm rounded-lg font-semibold px-3.5 py-2.5 text-gray-900 border-solid border border-main hover:bg-gray-100 transition duration-200">Nous contacter</a>
                    </div>
                </div>
            </div>
            <div class="relative lg:col-span-5 lg:-mr-8 xl:absolute xl:inset-0 xl:left-1/2 xl:mr-0">
               <video class="top-0 left-0 w-full h-full object-cover" autoplay loop muted>
                   <source src="{{ asset('media/videos/bg-home.mp4') }}" type="video/mp4">
                   Votre navigateur ne prend pas en charge les vidéos.
               </video>
                <div class="absolute top-0 left-0 w-full h-full bg-main opacity-70"></div>
            </div>
        </div>
    </div>
    <div class="relative bg-white">
        <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
            <div class="order-1 px-6 pb-24 pt-16 sm:pb-32 sm:pt-20 lg:col-start-2 lg:px-8 lg:pt-32">
                <div class="mx-auto max-w-2xl lg:mr-0 lg:max-w-lg">
                    <h3 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Une Fiduciaire à vos côtés dans toutes les étapes de votre développement</h3>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Notre fiduciaire est constituée en différents pôles de compétences pour mieux vous accompagner.
                        Nos comptables et experts comptables travaillent en collaboration avec nos commissaires aux comptes et nos réviseurs.
                        Nos juristes vous supportent concernant la fiscalité et la gestion des ressources humaines.</p>
                    <dl class="mt-16 grid max-w-xl grid-cols-1 gap-8 sm:mt-20 grid-cols-2 xl:mt-16">
                        <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                            <dt class="text-sm leading-6 text-gray-600">Ans d'experience</dt>
                            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">20+</dd>
                        </div>
                        <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                            <dt class="text-sm leading-6 text-gray-600">CHF de transaction effectuées</dt>
                            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">100M</dd>
                        </div>
                        <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                            <dt class="text-sm leading-6 text-gray-600">Langues différentes</dt>
                            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">3</dd>
                        </div>
                        <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                            <dt class="text-sm leading-6 text-gray-600">Bureaux internationaux</dt>
                            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">2</dd>
                        </div>
                    </dl>
                </div>
            </div>
            <img class="order-2 h-56 w-full bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-1/2" src="{{ asset('media/site/fiduciaire-geneve.webp') }}" alt="">
        </div>
    </div>
    <div class="relative bg-white">
        <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
            <div class="px-6 pb-24 pt-16 sm:pb-32 sm:pt-20 lg:px-8 lg:pt-32">
                <div class="mx-auto max-w-2xl lg:max-w-lg">
                    <h3 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Découvrez nos engagements et les valeurs que nous portons</h3>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Fiduciaire Genevoise s’engage pleinement pour ses clients et leur fait bénéficier d’un réseau d’experts en Suisse et à l’international.
                        Nos valeurs nous distingue et nos équipes portent nos ambitions d’exigence au quotidien pour votre croissance.
                        Nous sommes très actifs dans le paysage économique en Suisse et en Europe afin de soutenir nos clients dans le développement de leurs activités.</p>
                    <div class="mt-10 flex items-center gap-x-6">
                        <a href="{{ path('app_a_propos') }}" class="text-sm rounded-lg font-semibold bg-main px-3.5 py-2.5 text-white border-solid border border-main hover:bg-second hover:border-second transition duration-200">Découvrez nos engagements</a>
                    </div>
                </div>
            </div>
            <img class="h-56 w-full bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-1/2" src="{{ asset('media/site/fiduciaire-geneve-sa.webp') }}" alt="">
        </div>
    </div>
{% endblock %}
