{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}Comptabilité, Audit & Fiscalité à Genève{% endblock %}
{% block description %}Votre allié en gestion comptable, fiscalité, audit et conseils stratégiques à Genève, étendant notre expertise à travers la Suisse et l'Europe.{% endblock %}

{% block ogTitle %}Fiduciaire Genevoise - Comptabilité, Audit & Fiscalité | Conseil Expert Genève{% endblock %}
{% block ogUrl %}https://fiduciaire-genevoise.ch{% endblock %}
{% block ogImage %}{{ asset('media/site/fiduciaire-genevoise-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Fiduciaire Genevoise{% endblock %}
{% block ogDescription %}Experts en gestion financière à Genève. Fiduciaire spécialisée en comptabilité, conseil fiscal, audits rigoureux et stratégies d'affaires pour une présence renforcée en Suisse et Europe.{% endblock %}

{% block body %}
    <section class="relative bg-white">
        <div class="mx-auto max-w-7xl lg:grid lg:grid-cols-12 lg:gap-x-8 lg:px-8">
            <div class="px-6 pb-24 pt-10 sm:pb-32 lg:col-span-7 lg:px-0 lg:pb-24 lg:pt-24 xl:col-span-6">
                <div class="mx-auto max-w-2xl lg:mx-0">
                    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:mt-10 sm:text-6xl">Au service des entreprises, dans tous leurs projets</h1>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Nos services couvrent l’ensemble du besoin en finance d’entreprise de nos clients, des prestations comptables et fiduciaires, au conseil stratégique à l’audit et la transmission d’entreprise.</p>
                    <div class="mt-10 flex items-center gap-x-6">
                        <a href="{{ path('app_devenir_client') }}" class="text-sm rounded-lg font-semibold bg-main px-3.5 py-2.5 text-white border-solid border border-main hover:bg-second hover:border-second transition duration-200">Devenir client</a>
                        <a href="{{ path('app_contact') }}" class="text-sm rounded-lg font-semibold px-3.5 py-2.5 text-gray-900 border-solid border border-main hover:bg-gray-100 transition duration-200">Nous contacter</a>
                    </div>
                </div>
            </div>
            <div class="relative lg:col-span-5 lg:-mr-8 xl:absolute xl:inset-0 xl:left-1/2 xl:mr-0">
               <video class="top-0 left-0 w-full h-full object-cover" autoplay loop muted playsinline>
                   {% if 'Firefox' in app.request.headers.get('User-Agent') %}
                       <source src="{{ asset('media/videos/bg-home.webm') }}" type="video/mp4">
                   {% else %}
                       <source src="{{ asset('media/videos/bg-home.mp4') }}" type="video/mp4">
                   {% endif %}
                   Votre navigateur ne prend pas en charge les vidéos.
               </video>
                <div class="absolute top-0 left-0 w-full h-full bg-main opacity-20"></div>
            </div>
        </div>
    </section>
    <div class="bg-gray-50 py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:text-center">
                <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Nos services</h2>
                <p class="mt-6 text-lg leading-8 text-gray-600">Nous nous engageons à fournir des services de qualité assurant ainsi la croissance et la conformité réglementaire de votre entreprise en Suisse.</p>
            </div>
            <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
                <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
                    <div class="flex flex-col border-l border-gray-900/10 bg-white p-4">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg class="h-5 w-5 flex-none text-red-custom"  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
                            </svg>
                            Services fiduciaires
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">Expert en gestion d'entreprise : expertise en comptabilité, fiscalité, RH, audit et gouvernance pour optimiser performance et conformité réglementaire.</p>
                            <p class="mt-6">
                                <a href="{{ path('app_services_fiduciaire') }}" class="text-sm font-semibold leading-6 text-main hover:text-second transition duration-200">Découvrir <span aria-hidden="true">→</span></a>
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col border-l border-gray-900/10 bg-white p-4">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg class="h-5 w-5 flex-none text-red-custom" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75" />
                            </svg>
                            Audit & contrôles
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">Experts en audits financiers, sociaux et juridiques, nous offrons des contrôles restreints et contractuels conformes aux normes suisses, garantissant une gestion précise et légale.</p>
                            <p class="mt-6">
                                <a href="{{ path('app_audit_et_controles') }}" class="text-sm font-semibold leading-6 text-main hover:text-second transition duration-200">Découvrir <span aria-hidden="true">→</span></a>
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col border-l border-gray-900/10 bg-white p-4">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg class="h-5 w-5 flex-none text-red-custom" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
                            </svg>
                            Conseil entreprise
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">Services juridiques pour entreprises : gestion d'actes légaux, réorganisation, consolidation et création de filiales en Suisse, avec expertise et précision.</p>
                            <p class="mt-6">
                                <a href="{{ path('app_conseil_entreprise') }}" class="text-sm font-semibold leading-6 text-main hover:text-second transition duration-200">Découvrir <span aria-hidden="true">→</span></a>
                            </p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>

    <section class="relative bg-white">
        <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
            <div class="order-1 px-6 pb-24 pt-16 sm:pb-32 sm:pt-20 lg:col-start-2 lg:px-8 lg:pt-32">
                <div class="mx-auto max-w-2xl lg:mr-0 lg:max-w-lg">
                    <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Une Fiduciaire à vos côtés dans toutes les étapes de votre développement</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Fiduciaire Genevoise est constituée de plusieurs pôles d’expertises et de compétences répartis en Suisse.
                        Nos équipes de comptables, experts-comptables et experts-réviseurs agréés sont à votre disposition pour répondre à l’ensemble des sujets de finance d’entreprise tout au long de la vie de votre société.</p>
                    <dl class="mt-16 grid max-w-xl gap-8 sm:mt-20 grid-cols-2 xl:mt-16">
                        <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                            <dt class="text-sm leading-6 text-gray-600">ans d'expérience cumulée</dt>
                            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">20+</dd>
                        </div>
                        <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                            <dt class="text-sm leading-6 text-gray-600">CHF de transactions effectuées</dt>
                            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">400M</dd>
                        </div>
                        <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                            <dt class="text-sm leading-6 text-gray-600">langues différentes</dt>
                            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">3</dd>
                        </div>
                        <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                            <dt class="text-sm leading-6 text-gray-600">établissements en suisse</dt>
                            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">4</dd>
                        </div>
                    </dl>
                </div>
            </div>
            <img class="order-2 h-56 w-full bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-1/2" src="{{ asset('media/site/fiduciaire-genevoise-geneve.webp') }}" alt="Fiduciaire Genevoise, Comptabilité, Audit & Fiscalité ">
        </div>
    </section>
    <section class="relative bg-white">
        <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
            <div class="px-6 pb-24 pt-16 sm:pb-32 sm:pt-20 lg:px-8 lg:pt-32">
                <div class="mx-auto max-w-2xl lg:max-w-lg">
                    <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Découvrez nos engagements et les valeurs que nous portons</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Fiduciaire Genevoise s’engage pleinement pour ses clients et leur fait bénéficier d’un réseau d’experts en Suisse et à l’international.
                        Nos valeurs nous distinguent et nos équipes portent nos ambitions d'exigence au quotidien pour votre croissance.
                        Nous sommes très actifs dans le paysage économique en Suisse et en Europe afin de soutenir nos clients dans le développement de leurs activités.</p>
                    <div class="mt-10 flex items-center gap-x-6">
                        <a href="{{ path('app_a_propos') }}" class="text-sm rounded-lg font-semibold bg-main px-3.5 py-2.5 text-white border-solid border border-main hover:bg-second hover:border-second transition duration-200">Découvrez nos engagements</a>
                    </div>
                </div>
            </div>
            <img class="h-56 w-full bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-1/2" src="{{ asset('media/site/fiduciaire-genevoise-comptabilite.webp') }}" alt="Fiduciaire Genevoise, Fiduciaire à Genève">
        </div>
    </section>
{% endblock %}
