{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.summary |slice(0, 150)  }}...{% endblock %}
{% block url %}/blog/{{ post.slug }}{% endblock %}

{% block ogTitle %}Fiduciaire Genevoise - Blog{% endblock %}
{% block ogUrl %}https://fiduciaire-genevoise.ch/blog{{ path('app_blog_post', {'slug': post.slug }) }}{% endblock %}
{% block ogImage %}{{ asset('media/blog/mainPhotos/'~post.mainPhoto) }}{% endblock %}
{% block ogImageAlt %}Fiduciaire Genevoise{% endblock %}
{% block ogDescription %}{{ post.summary |slice(0, 150)  }}...{% endblock %}



{% block body %}
    <section class="bg-no-repeat bg-cover bg-center" style="background-image: url('{{ asset('media/blog/mainPhotos/'~post.mainPhoto) }}')">
        <div class="bg-main px-6 py-24 lg:px-8 bg-opacity-80">
            <div class="mx-auto max-w-2xl text-center">
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-4xl">{{ post.title }}</h1>
                <div class="inline-block text-white justify-center mt-5 divide-x">
                    <time datetime="{{ post.createdAt | date('d F Y') }}" class="text-sm text-gray-300 px-2">Publié le {{ post.createdAt | date('d F Y') | format_date(locale='fr') }}</time>
                    {% if post.updatedAt != null %}
                        <time datetime="{{ post.createdAt | date('d F Y') }}" class="text-sm text-gray-300 px-2">M.a.j le {{ post.createdAt | date('d F Y') | format_date(locale='fr') }}</time>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white py-24 sm:py-28">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            {{ post.content | raw }}
        </div>
    </section>

{% endblock %}
