{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}À propos{% endblock %}
{% block description %}Fiduciaire Genevoise, implantée à Genève, Grand-Lancy, Bâle et Zug depuis 2017, offre expertise en audit, conseil et services fiduciaires, guidée par excellence, pragmatisme et vision à long terme.{% endblock %}
{% block url %}{{ path('app_a_propos') }}{% endblock %}

{% block ogTitle %}Fiduciaire Genevoise - À propos{% endblock %}
{% block ogUrl %}https://fiduciaire-genevoise.ch/a-propos{% endblock %}
{% block ogImage %}{{ asset('media/site/fiduciaire-genevoise-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Fiduciaire Genevoise{% endblock %}
{% block ogDescription %}Fiduciaire Genevoise, implantée à Genève, Grand-Lancy, Bâle et Zug depuis 2017, offre expertise en audit, conseil et services fiduciaires, guidée par excellence, pragmatisme et vision à long terme.{% endblock %}

{% block body %}
    <section class="bg-no-repeat bg-cover bg-center" style="background-image: url('{{ asset('media/headers/header-fiduciaire-geneve.webp') }}')">
        <div class="px-6 py-24 lg:px-8 bg-main bg-opacity-80">
            <div class="mx-auto max-w-2xl text-center">
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-6xl">À propos</h1>
                <p class="mt-6 text-lg leading-8 text-gray-100">Avec 4 établissements en Suisse (Genève, Grand-Lancy, Bâle et Zug) le groupe Fiduciaire Genevoise vous accompagne depuis 2017 dans vos sujets de finance d’entreprise.</p>
            </div>
        </div>
    </section>
    <section class="relative bg-white">
        <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
            <div class="px-6 pb-24 pt-16 sm:pb-32 sm:pt-20 lg:px-8 lg:pt-32">
                <div class="mx-auto max-w-2xl lg:max-w-lg">
                    <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Nos activités</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Nous conseillons nos clients sur l’ensemble des leurs activités autour de trois pôles d’expertises complémentaires.</p>
                    <div class="mt-10 flex flex-col items-start space-y-6">
                        <a href="{{ path('app_services_fiduciaire') }}" class="text-sm rounded-full font-semibold px-3.5 py-2.5 text-gray-900 border-solid border border-main hover:bg-gray-100  transition duration-200">Services fiduciaire <span aria-hidden="true" class="ml-2">&rarr;</span></a>
                        <a href="{{ path('app_audit_et_controles') }}" class="text-sm rounded-full font-semibold px-3.5 py-2.5 text-gray-900 border-solid border border-main hover:bg-gray-100  transition duration-200">Audit et contrôles <span aria-hidden="true" class="ml-2">&rarr;</span></a>
                        <a href="{{ path('app_corporate_finance') }}" class="text-sm rounded-full font-semibold px-3.5 py-2.5 text-gray-900 border-solid border border-main hover:bg-gray-100 transition duration-200">Corporate finance <span aria-hidden="true" class="ml-2">&rarr;</span></a>
                        <a href="{{ path('app_conseil_entreprise') }}" class="text-sm rounded-full font-semibold px-3.5 py-2.5 text-gray-900 border-solid border border-main hover:bg-gray-100 transition duration-200">Conseil entreprise <span aria-hidden="true" class="ml-2">&rarr;</span></a>
                    </div>
                </div>
            </div>
            <img class="h-56 w-full bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-1/2" src="{{ asset('media/site/fiduciaire-genevoise-a-propos.webp') }}" alt="Fiduciaire Genevoise à Genève">
        </div>
    </section>
    <section class="bg-gray-50 py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:text-center">
                <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Nos engagements</h2>
            </div>
            <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
                <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
                    <div class="relative pl-16">
                        <dt class="text-base font-semibold leading-7 text-gray-900 font-main">
                            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-main">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
                                </svg>
                            </div>
                            <h3>Engagement</h3>
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">Un travail d’excellence et un professionnalisme sans faille pour relever les défis de nos clients.</dd>
                    </div>
                    <div class="relative pl-16">
                        <dt class="text-base font-semibold leading-7 text-gray-900 font-main">
                            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-main">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
                                </svg>

                            </div>
                            <h3>Pragmatisme</h3>
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">Une approche rigoureuse et engagée pour soutenir la croissance de nos clients et transformer les décisions en actions.</dd>
                    </div>
                    <div class="relative pl-16">
                        <dt class="text-base font-semibold leading-7 text-gray-900 font-main">
                            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-main">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6t text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                            </div>
                            <h3>Long terme</h3>
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">Nous nous engageons toujours avec nos clients pour leur délivrer des résultats immédiats avec un impact au long terme.</dd>
                    </div>
                    <div class="relative pl-16">
                        <dt class="text-base font-semibold leading-7 text-gray-900 font-main">
                            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-main">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
                                </svg>
                            </div>
                            <h3>Indépendance</h3>
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">Nous agissons en toute indépendance, dans le respect des codes éthiques pour le soutien des efforts RSE de nos clients.</dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>
    <section class="relative bg-white">
        <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
            <div class="order-1 px-6 pb-24 pt-16 sm:pb-32 sm:pt-20 lg:col-start-2 lg:px-8 lg:pt-32">
                <div class="mx-auto max-w-2xl lg:mr-0 lg:max-w-lg">
                    <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Une Fiduciaire à vos côtés dans toutes les étapes de votre développement</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Avec 3 bureaux établis en Suisse dont notre siège à Genève, nous agissons toujours au plus proche de nos clients.</p>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Nos collaborateurs sont disponibles sur site en fonction de vos activités et nos technologies vous permettent de vous accompagner partout, en Suisse et dans le monde.</p>
                    <div class="mt-10 flex items-center gap-x-6">
                        <a href="{{ path('app_contact') }}" class="text-sm rounded-full font-semibold bg-main px-3.5 py-2.5 text-white border-solid border border-main hover:bg-second hover:border-second transition duration-200">Nous contacter</a>
                    </div>
                </div>
            </div>
            <img class="order-2 h-56 w-full bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-1/2" src="{{ asset('media/site/fiduciaire-genevoise-accompagnement.webp') }}" alt="Fiduciaire Genevoise vous accompagne partout en Suisse">
        </div>
    </section>
    <section class="relative bg-white">
        <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
            <div class="px-6 pb-24 pt-16 sm:pb-32 sm:pt-20 lg:px-8 lg:pt-32">
                <div class="mx-auto max-w-2xl lg:max-w-lg">
                    <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Engagement et Expertise RSE au Cœur de Genève avec Fiduciaire Genevoise</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600">
                        Située au cœur de Genève (<a href="https://g.co/kgs/8ypEVps" class="text-base underline underline-offset-2" target="_blank">Rue des Alpes 5</a>), Fiduciaire Genevoise se distingue par son expertise en RSE, éthique des affaires et gouvernance durable.
                        Engageons-nous ensemble dans des projets responsables, conformes aux normes ISO et aux principes du Global Compact. Partenaires dans l'engagement pour une gestion
                        éthique et durable.</p>
                    <div class="mt-10 flex items-center gap-x-6">
                        <a href="{{ path('app_services_fiduciaire') }}" class="text-sm rounded-full font-semibold bg-main px-3.5 py-2.5 text-white border-solid border border-main hover:bg-second hover:border-second transition duration-200">Découvrez nos services</a>
                    </div>
                </div>
            </div>
            <img class="h-56 w-full bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-1/2" src="{{ asset('media/site/fiduciaire-genevoise-suisse-geneve.webp') }}" alt="Fiduciaire Genevoise, Fiduciaire à Genève">
        </div>
    </section>
{% endblock %}
