{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}Services fiduciaires{% endblock %}
{% block description %}Services fiduciaires intégraux pour pilotage d'entreprise : administration, comptabilité, audit, TVA, fiscalité, RH et plus. Accélérez votre croissance avec nos experts.{% endblock %}
{% block url %}{{ path('app_services_fiduciaire') }}{% endblock %}

{% block ogTitle %}Fiduciaire Genevoise - Services fiduciaires{% endblock %}
{% block ogUrl %}https://fiduciaire-genevoise.ch/services-fiduciaire{% endblock %}
{% block ogImage %}{{ asset('media/site/fiduciaire-genevoise-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Fiduciaire Genevoise{% endblock %}
{% block ogDescription %}Services fiduciaires intégraux pour pilotage d'entreprise : administration, comptabilité, audit, TVA, fiscalité, RH et plus. Accélérez votre croissance avec nos experts.{% endblock %}

{% block body %}
    <section class="bg-no-repeat bg-cover bg-center" style="background-image: url('{{ asset('media/headers/header-fiduciaire-a-geneve-services.webp') }}')">
        <div class="px-6 py-24 lg:px-8 bg-main bg-opacity-80">
            <div class="mx-auto max-w-2xl text-center">
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-6xl">Services Fiduciaire</h1>
                <h2 class="mt-6 text-lg leading-8 text-gray-100">Profitez de solutions sur mesure pour le pilotage de votre entreprise et de notre réseau global pour stimuler votre croissance.</h2>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="mx-auto max-w-6xl px-6 lg:px-8">
            <div class="mx-auto py-12 lg:py-24 max-w-2xl lg:max-w-none">
                <dl class="grid grid-cols-1 gap-x-8 gap-y-8 lg:max-w-none lg:grid-cols-2">
                    <div class="flex flex-col sm:m-2 shadow-lg rounded-md bg-gray-50 p-6 hover:shadow-xl transition duration-100">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-custom">
                                <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Administration de sociétés</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <ul role="list" class="mt-4 space-y-4 font-second">
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Création et domiciliation de sociétés</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Gestion administrative courante</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Gestion des obligations fiscales</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Conformité légale et réglementaire</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Représentation de l'entreprise</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Contactez-nous pour avoir le détail complet</span>
                                </li>
                            </ul>
                        </dd>
                        <div class="mt-6">
                            <a href="{{ path('app_admin_societes') }}" class="text-sm font-semibold leading-6 text-main hover:text-second transition duration-200">En savoir plus <span aria-hidden="true">→</span></a>
                        </div>
                    </div>
                    <div class="flex flex-col sm:m-2 shadow-lg rounded-md bg-gray-50 p-6 hover:shadow-xl transition duration-100">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-custom">
                                <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Comptabilité</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <ul role="list" class="mt-4 space-y-4 font-second">
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Tenue des livres comptables</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Gestion des factures et paiements</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Préparation des bilans annuels</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Établissement des comptes de résultats</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Déclarations fiscales et gestion de la TVA</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Contactez-nous pour avoir le détail complet</span>
                                </li>
                            </ul>
                            <div class="mt-6">
                                <a href="{{ path('app_comptabilite') }}" class="text-sm font-semibold leading-6 text-main hover:text-second transition duration-200">En savoir plus <span aria-hidden="true">→</span></a>
                            </div>
                        </dd>
                    </div>
                    <div class="flex flex-col sm:m-2 shadow-lg rounded-md bg-gray-50 p-6 hover:shadow-xl transition duration-100">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-custom">
                                <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Audit & Contrôles</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <ul role="list" class="mt-4 space-y-4 font-second">
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Audit financier</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Audit interne</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Audit de conformité</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Évaluation des systèmes de contrôle interne</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Identification des risques financiers</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Contactez-nous pour avoir le détail complet</span>
                                </li>
                            </ul>
                        </dd>
                        <div class="mt-6">
                            <a href="{{ path('app_services_audit_controles') }}" class="text-sm font-semibold leading-6 text-main hover:text-second transition duration-200">En savoir plus <span aria-hidden="true">→</span></a>
                        </div>
                    </div>
                    <div class="flex flex-col sm:m-2 shadow-lg rounded-md bg-gray-50 p-6 hover:shadow-xl transition duration-100">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-custom">
                                <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Gestion de TVA</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <ul role="list" class="mt-4 space-y-4 font-second">
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Déclarations</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Calcul et liquidation</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Optimisation du traitement</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Suivi des taux applicables</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Gestion des régularisations</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Contactez-nous pour avoir le détail complet</span>
                                </li>
                            </ul>
                        </dd>
                    </div>
                    <div class="flex flex-col sm:m-2 shadow-lg rounded-md bg-gray-50 p-6 hover:shadow-xl transition duration-100">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-custom">
                                <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Fiscalité</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <ul role="list" class="mt-4 space-y-4 font-second">
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Déclarations fiscales</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Optimisation et planification</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Gestion des obligations</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Suivi des régimes fiscaux</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Conseil en fiscalité internationale</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Contactez-nous pour avoir le détail complet</span>
                                </li>
                            </ul>
                        </dd>
                        <div class="mt-6">
                            <a href="{{ path('app_fiscalite') }}" class="text-sm font-semibold leading-6 text-main hover:text-second transition duration-200">En savoir plus <span aria-hidden="true">→</span></a>
                        </div>
                    </div>
                    <div class="flex flex-col sm:m-2 shadow-lg rounded-md bg-gray-50 p-6 hover:shadow-xl transition duration-100">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-custom">
                                <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                            </svg>
                            <h3>RH et gestion des salaires</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <ul role="list" class="mt-4 space-y-4 font-second">
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Gestion des contrats de travail</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Élaboration des fiches de paie</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Calcul des salaires et charges sociales</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Gestion des absences et congés</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Suivi des cotisations aux assurances sociales</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Contactez-nous pour avoir le détail complet</span>
                                </li>
                            </ul>
                        </dd>
                        <div class="mt-6">
                            <a href="{{ path('app_rh') }}" class="text-sm font-semibold leading-6 text-main hover:text-second transition duration-200">En savoir plus <span aria-hidden="true">→</span></a>
                        </div>
                    </div>
                    <div class="flex flex-col sm:m-2 shadow-lg rounded-md bg-gray-50 p-6 hover:shadow-xl transition duration-100">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-custom">
                                <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Gestion des débiteurs</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <ul role="list" class="mt-4 space-y-4 font-second">
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Suivi des factures clients</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Gestion des relances de paiement</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Mise en place de plans de recouvrement</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Suivi des encaissements</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Gestion des litiges</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Contactez-nous pour avoir le détail complet</span>
                                </li>
                            </ul>
                        </dd>
                        <div class="mt-6">
                            <a href="{{ path('app_gestion_debiteurs') }}" class="text-sm font-semibold leading-6 text-main hover:text-second transition duration-200">En savoir plus <span aria-hidden="true">→</span></a>
                        </div>
                    </div>
                    <div class="flex flex-col sm:m-2 shadow-lg rounded-md bg-gray-50 p-6 hover:shadow-xl transition duration-100">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-custom">
                                <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Gouvernance</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <ul role="list" class="mt-4 space-y-4 font-second">
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Mise en place des politiques internes</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Suivi des bonnes pratiques de gouvernance</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Gestion des conseils d'administration</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Rédaction des procès-verbaux</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Respect des obligations légales</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Contactez-nous pour avoir le détail complet</span>
                                </li>
                            </ul>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>
{% endblock %}
