<h1>Nouveau contact du site internet :</h1>
<smal>Message envoyé le {{  }}</smal>
<br/>
<p>Nom/Prénom : {{ contact.fistName }} {{ contact.lastName }}</p>
<p>Email : {{ contact.email }}</p>
<p>Téléphone : {{ contact.phone }}</p>
<p>Société : {{ contact.society }}</p>
<p>Sujet : {{ contact.help }}</p>
<p>Message : {{ contact.message }}</p>

<br/>