<h1 class="text-green-600">Nouveau contact du site internet :</h1>
<p>{{ createdAt | date('d F Y') | format_date(locale='fr') }} à {{ createdAt | date('H:i') }}</p>
<br/>
<p>Nom/Prénom : {{ fistName }} {{ lastName }}</p>
<p>Email : {{ emailContact }}</p>
<p>Téléphone : {{ phone }}</p>
<p>Société : {{ society }}</p>
<p>Sujet : {{ help }}</p>
<p>Message : {{ message }}</p>
<br/>
<small>Cet email provient du formulaire de contact de fiduciaire-genevoise.ch.</small>