<h1 class="text-green-600">Nouvele demande pour devenir client :</h1>
<p>{{ createdAt | date('d F Y') | format_date(locale='fr') }} à {{ createdAt | date('H:i') }}</p>
<br/>
<p>Nom/Prénom : {{ fistName }} {{ lastName }}</p>
<p>Email : {{ emailContact }}</p>
<p>Téléphone : {{ phone }}</p>
<br/>
<p>Société : {{ society }}</p>
<p>Status juridique : {{ legalStatus }}</p>
<p>Nombre de salariés : {{ numberEmployees }}</p>
<p>Localité du siége : {{ localitySociety }}</p>
<p>Rôle dans l'entreprise : {{ position }}</p>
<br/>
<small>Cet email provient du formulaire de contact de fiduciaire-genevoise.ch.</small>