<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Fiduciaire Genevoise - {% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="robots" content="{% block robots %}{% endblock %}"/>
        <link rel="icon" type="image/jpg" href="{{ asset('media/logo/favicon.jpg') }}" sizes="32x32">

        <meta property="og:type" content="website">
        <meta property="og:title" content="{% block ogTitle %}{% endblock %}">
        <meta property="og:url" content="{% block ogUrl %}{% endblock %}">
        <meta property="og:image" content="{% block ogImage %}{% endblock %}">
        <meta property="og:image:alt" content="{% block ogImageAlt %}{% endblock %}"/>
        <meta property="og:description" content="{% block ogDescription %}{% endblock %}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-M3QGTNGV');
        </script>
        <!-- Schema.org -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "name": "Fiduciaire Genevoise",
                "url": "https://fiduciaire-genevoise.ch"
            }
        </script>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3QGTNGV" height="0" width="0" style="display:none;visibility:hidden">
            </iframe>
        </noscript>
        <header class="bg-white">
            <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
                <div class="flex items-center gap-x-8">
                    <a href="{{ path('app_home') }}" class="-m-1.5 p-1.5">
                        <span class="sr-only">Fiduciaire Genevoise</span>
                        <img class="h-7 w-auto" src="{{ asset('media/logo/logo.png') }}" alt="Fiduciaire Genevoise Logo">
                    </a>
                    <div class="hidden lg:flex lg:gap-x-6">
                        <a href="{{ path('app_services_fiduciaire') }}" class="{% if app.request.attributes.get('_route') == 'app_services_fiduciaire' %}underline{% endif %} text-sm font-semibold leading-6 text-gray-900 hover:text-second transition duration-400 hover:underline underline-offset-10 decoration-second">Services fiduciaire</a>
                        <a href="{{ path('app_audit_et_controles') }}" class="{% if app.request.attributes.get('_route') == 'app_audit_et_controles' %}underline{% endif %} text-sm font-semibold leading-6 text-gray-900 hover:text-second transition duration-400 hover:underline underline-offset-10 decoration-second">Audit et contrôles</a>
                        <a href="{{ path('app_conseil_entreprise') }}" class="{% if app.request.attributes.get('_route') == 'app_conseil_entreprise' %}underline{% endif %} text-sm font-semibold leading-6 text-gray-900 hover:text-second transition duration-400 hover:underline underline-offset-10 decoration-second">Conseil entreprise</a>
                        <a href="{{ path('app_a_propos') }}" class="{% if app.request.attributes.get('_route') == 'app_a_propos' %}underline{% endif %} text-sm font-semibold leading-6 text-gray-900 hover:text-second transition duration-400 hover:underline underline-offset-10 decoration-second">À propos</a>
                    </div>
                </div>
                <div class="hidden lg:flex gap-x-6">
                    <a href="tel:0225624239" class="text-sm font-semibold leading-6 text-gray-900 inline-flex align-center items-center">
                        <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mt-1 mr-1">
                            <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                        </svg>
                        022 562 42 39
                    </a>
                    <a href="{{ path('app_contact') }}" class="text-sm font-semibold leading-6 text-white bg-main px-3.5 py-2.5 rounded-lg hover:bg-second transition duration-200">Contactez-nous <span aria-hidden="true" class="ml-2">&rarr;</span></a>
                </div>

                <!-- Mobile menu, show/hide based on menu open state. -->
                <div x-data="{ isOpen: false }" class="lg:hidden">
                    <div class="flex lg:hidden">
                        <div class="inline-flex gap-x-6">
                            <a href="tel:0225624239" class="text-sm font-semibold leading-6 text-gray-900 inline-flex align-center items-center">
                                <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mt-1 mr-1">
                                    <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                                </svg>
                                022 562 42 39
                            </a>
                            <button @click="isOpen = true"  type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                                <span class="sr-only">Open main menu</span>
                                <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div x-show="isOpen" role="dialog" aria-modal="true">
                        <!-- Background backdrop, show/hide based on slide-over state. -->
                        <div class="fixed inset-0 z-10"></div>
                        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                            <div class="flex items-center justify-between">
                                <a href="{{ path('app_home') }}" class="-m-1.5 p-1.5">
                                    <span class="sr-only">Fiduciaire Genevoise</span>
                                    <img class="h-7 w-auto" src="{{ asset('media/logo/logo.png') }}" alt="Fiduciare Genevoise Logo">
                                </a>
                                <div class="inline-flex gap-x-6">
                                    <a href="tel:0225624239" class="text-sm font-semibold leading-6 text-gray-900 inline-flex align-center items-center">
                                        <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mt-1 mr-1">
                                            <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                                        </svg>
                                        022 562 42 39
                                    </a>
                                    <button @click="isOpen = false" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                                        <span class="sr-only">Close menu</span>
                                        <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="mt-6 flow-root">
                                <div class="-my-6 divide-y divide-gray-500/10">
                                    <div class="space-y-2 py-6">
                                        <a href="{{ path('app_services_fiduciaire') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Services fiduciaire</a>
                                        <a href="{{ path('app_audit_et_controles') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Audit et contrôles</a>
                                        <a href="{{ path('app_conseil_entreprise') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Conseil entreprise</a>
                                        <a href="{{ path('app_a_propos') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">À propos</a>
                                    </div>
                                    <div class="py-6 text-center gap-y-10">
                                        <a href="{{ path('app_contact') }}" class="mb-3 -mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white bg-main hover:bg-second border-solid border border-main hover:border-second transition duration-200">Contactez-nous <span aria-hidden="true" class="ml-2">&rarr;</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}

            {% set current_route = app.request.attributes.get('_route') %}
            {% set exception = app.request.attributes.get('exception') %}
            {% set status_code = exception ? exception.statusCode : 200 %}

            {% if current_route not in excluded_routes and status_code not in [404, 403, 500] %}
                {% include 'components/_block_CTA_footer.html.twig' %}
            {% endif %}
        </main>

        <section x-data="cookieConsent" x-cloak>
            <div x-bind="dialogue"  class="fixed inset-x-0 bottom-0 flex flex-col justify-between gap-x-8 gap-y-4 bg-main p-6 ring-1 ring-gray-900/10 md:flex-row md:items-center lg:px-8">
                <p class="max-w-4xl text-sm leading-6 text-white">Nous utilisons des cookies pour optimiser notre site et nos services. En cliquant sur « Accepter », vous consentez à leur utilisation. Pour en savoir plus ou pour modifier vos préférences, visitez l'onglet <a href="{{ path('app_donnees_personnelles') }}" class="text-gray-100 font-semibold font-second">données personnelles</a>.</p>
                <div class="flex flex-none items-center gap-x-5">
                    <button x-bind="accept" type="button" class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-main shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Accepter</button>
                    <button x-bind="decline" type="button" class="text-sm font-semibold leading-6 text-white">Décliner</button>
                </div>
            </div>
        </section>

        <footer class="bg-main" aria-labelledby="footer-heading">
            <h2 id="footer-heading" class="sr-only">Fiduciaire Genevoise</h2>
            <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
                <div class="xl:grid xl:grid-cols-3 xl:gap-8">
                    <div class="space-y-6">
                        <a href="{{ path('app_home') }}">
                            <img class="h-7 mb-10" src="{{ asset('media/logo/logo-blanc.png') }}" alt="Fiduciaire Genevoise Logo">
                        </a>
                        <h3 class="text-2xl font-semibold leading-6 text-white flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                            </svg>
                            <span class="ml-2"><a href="tel:0225624239">022 562 42 39</a></span>
                        </h3>
                        <h3 class="leading-6 text-gray-300 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <span class="ml-2">Lun - Vend 09h/19h30</span>
                        </h3>
                        <h3 class="leading-6 text-gray-300 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                            </svg>
                            <span class="ml-2">contact@fiduciaire-genevoise.ch</span>
                        </h3>
                    </div>
                    <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                        <div class="md:grid md:grid-cols-2 md:gap-8">
                            <div>
                                <h3 class="text-sm font-semibold leading-6 text-white">Services</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="{{ path('app_services_fiduciaire') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Services fiduciaire</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_audit_et_controles') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Audit et contrôles</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_conseil_entreprise') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Conseil entreprise</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_a_propos') }}" class="text-sm leading-6 text-gray-300 hover:text-white">À propos</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-10 md:mt-0">
                                <h3 class="text-sm font-semibold leading-6 text-white">Support</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="{{ path('app_contact') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Contactez-nous</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="md:grid md:grid-cols-2 md:gap-8">
                            <div>
                                <h3 class="text-sm font-semibold leading-6 text-white">Compte client</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="{{ path('app_connexion') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Connexion</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_devenir_client') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Devenir client</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-10 md:mt-0">
                                <h3 class="text-sm font-semibold leading-6 text-white">Légal</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="{{ path('app_mentions_legales') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Mentions légales</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_donnees_personnelles') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Données personnelles</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
                    <p class="text-xs leading-5 text-gray-400">&copy; 2023 Fiduciaire Genvoise. Tous droits réservés.</p>
                </div>
            </div>
        </footer>
    </body>
</html>
