<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Fiduciaire Genevoise - {% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="robots" content="{% block robots %}{% endblock %}"/>
        <link rel="icon" type="image/jpg" href="{{ asset('media/logo/favicon.ico') }}" sizes="32x32">
        <link rel="canonical" href="https://fiduciaire-genevoise.ch{% block url %}{% endblock %}" />

        <meta property="og:type" content="website">
        <meta property="og:title" content="{% block ogTitle %}{% endblock %}">
        <meta property="og:url" content="{% block ogUrl %}{% endblock %}">
        <meta property="og:image" content="{% block ogImage %}{% endblock %}">
        <meta property="og:image:alt" content="{% block ogImageAlt %}{% endblock %}"/>
        <meta property="og:description" content="{% block ogDescription %}{% endblock %}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-MTM798H6');
        </script>
        <!-- Schema.org -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "name": "Fiduciaire Genevoise",
                "url": "https://fiduciaire-genevoise.ch"
            }
        </script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-F2JYPYTD64"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-F2JYPYTD64');
        </script>
        <!-- Start cookieyes banner -->
        <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/25c0311a0609a9eda69091a3/script.js"></script>
        <!-- End cookieyes banner -->
    </head>
    <body class="mt-20">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTM798H6" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        <header class="bg-white z-50 fixed w-full top-0">
            <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
                <div class="flex items-center gap-x-8">
                    <a href="{{ path('app_home') }}" class="-m-1.5 p-1.5">
                        <span class="sr-only">Fiduciaire Genevoise</span>
                        <img class="h-7 w-auto" src="{{ asset('media/logo/logo.webp') }}" alt="Fiduciaire Genevoise Logo">
                    </a>
                    <div class="hidden lg:flex lg:gap-x-6">
                        <a href="{{ path('app_services_fiduciaire') }}" class="{% if app.request.attributes.get('_route') == 'app_services_fiduciaire' %}underline{% endif %} text-sm font-semibold leading-6 text-gray-900 hover:text-second transition duration-400 hover:underline underline-offset-10 decoration-second">Services fiduciaire</a>
                        <a href="{{ path('app_audit_et_controles') }}" class="{% if app.request.attributes.get('_route') == 'app_audit_et_controles' %}underline{% endif %} text-sm font-semibold leading-6 text-gray-900 hover:text-second transition duration-400 hover:underline underline-offset-10 decoration-second">Audit & contrôles</a>
                        <a href="{{ path('app_corporate_finance') }}" class="{% if app.request.attributes.get('_route') == 'app_corporate_finance' %}underline{% endif %} text-sm font-semibold leading-6 text-gray-900 hover:text-second transition duration-400 hover:underline underline-offset-10 decoration-second">Corporate finance</a>
                        <a href="{{ path('app_conseil_entreprise') }}" class="{% if app.request.attributes.get('_route') == 'app_conseil_entreprise' %}underline{% endif %} text-sm font-semibold leading-6 text-gray-900 hover:text-second transition duration-400 hover:underline underline-offset-10 decoration-second">Conseil entreprise</a>
                    </div>
                </div>
                <div class="hidden lg:flex gap-x-6">
                    <a href="tel:0225624239" class="text-sm font-semibold leading-6 text-gray-900 inline-flex align-center items-center">
                        <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mt-1 mr-1">
                            <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                        </svg>
                        022 562 42 39
                    </a>
                    <a href="{{ path('app_contact') }}" class="text-sm font-semibold leading-6 text-white bg-main px-3.5 py-2.5 rounded-full hover:bg-second transition duration-200">Contactez-nous <span aria-hidden="true" class="ml-2">&rarr;</span></a>
                </div>

                <!-- Mobile menu, show/hide based on menu open state. -->
                <div x-data="{ isOpen: false }" class="lg:hidden">
                    <div class="flex lg:hidden">
                        <div class="inline-flex gap-x-6">
                            <a href="tel:0225624239" class="text-sm font-semibold leading-6 text-gray-900 inline-flex align-center items-center">
                                <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mt-1 mr-1">
                                    <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                                </svg>
                                022 562 42 39
                            </a>
                            <button @click="isOpen = true"  type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                                <span class="sr-only">Open main menu</span>
                                <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div x-show="isOpen" role="dialog" aria-modal="true">
                        <!-- Background backdrop, show/hide based on slide-over state. -->
                        <div class="fixed inset-0 z-10"></div>
                        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                            <div class="flex items-center justify-between">
                                <a href="{{ path('app_home') }}" class="-m-1.5 p-1.5">
                                    <span class="sr-only">Fiduciaire Genevoise</span>
                                    <img class="h-7 w-auto" src="{{ asset('media/logo/logo.webp') }}" alt="Fiduciare Genevoise Logo">
                                </a>
                                <div class="inline-flex gap-x-6">
                                    <a href="tel:0225624239" class="text-sm font-semibold leading-6 text-gray-900 inline-flex align-center items-center">
                                        <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mt-1 mr-1">
                                            <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                                        </svg>
                                        022 562 42 39
                                    </a>
                                    <button @click="isOpen = false" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                                        <span class="sr-only">Close menu</span>
                                        <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="mt-10 flow-root">
                                <div class="-my-6 divide-y divide-gray-500/10">
                                    <div class="space-y-2 py-6">
                                        <a href="{{ path('app_services_fiduciaire') }}" class="{% if app.request.attributes.get('_route') == 'app_services_fiduciaire' %}bg-gray-100{% endif %} flex relative items-center gap-x-2 -mx-3 rounded-lg px-3 py-2 hover:bg-gray-100 transition duration-200">
                                            <svg class="h-5 w-5 flex-none text-red-custom"  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
                                            </svg>
                                            <span class="text-base font-semibold leading-7 text-gray-900">Services fiduciaire</span>
                                        </a>
                                        <a href="{{ path('app_audit_et_controles') }}" class="{% if app.request.attributes.get('_route') == 'app_audit_et_controles' %}bg-gray-100{% endif %} flex relative items-center gap-x-2 -mx-3 rounded-lg px-3 py-2 hover:bg-gray-100 transition duration-200">
                                            <svg class="h-5 w-5 flex-none text-red-custom" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75" />
                                            </svg>
                                            <span class="text-base font-semibold leading-7 text-gray-900">Audit et contrôles</span>
                                        </a>
                                        <a href="{{ path('app_corporate_finance') }}" class="{% if app.request.attributes.get('_route') == 'app_corporate_finance' %}bg-gray-100{% endif %} flex relative items-center gap-x-2 -mx-3 rounded-lg px-3 py-2 hover:bg-gray-100 transition duration-200">
                                            <svg class="h-5 w-5 flex-none text-red-custom" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                                            </svg>
                                            <span class="text-base font-semibold leading-7 text-gray-900">Corporate finance</span>
                                        </a>
                                        <a href="{{ path('app_conseil_entreprise') }}" class="{% if app.request.attributes.get('_route') == 'app_conseil_entreprise' %}bg-gray-100{% endif %} flex relative items-center gap-x-2 -mx-3 rounded-lg px-3 py-2 hover:bg-gray-100 transition duration-200">
                                            <svg class="h-5 w-5 flex-none text-red-custom" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
                                            </svg>
                                            <span class="text-base font-semibold leading-7 text-gray-900">Conseil entreprise</span>
                                        </a>
                                    </div>
                                    <div class="space-y-2 py-6">
                                        <div>
                                            <a href="{{ path('app_a_propos') }}" class="text-base font-semibold leading-7 text-gray-900">À propos</a>
                                        </div>
                                        <div>
                                            <a href="{{ path('app_faq') }}" class="text-base font-semibold leading-7 text-gray-900">FAQ</a>
                                        </div>
                                        <div>
                                            <a href="{{ path('app_blog') }}" class="text-base font-semibold leading-7 text-gray-900">Blog</a>
                                        </div>
                                        <div>
                                            <a href="{{ path('app_login') }}" class="text-base font-semibold leading-7 text-gray-900">Connexion</a>
                                        </div>
                                    </div>
                                    <div class="py-6 text-center gap-y-10">
                                        <a href="{{ path('app_contact') }}" class="mb-3 -mx-3 block rounded-full px-3 py-2.5 text-base font-semibold leading-7 text-white bg-main hover:bg-second border-solid border border-main hover:border-second transition duration-200">Contactez-nous <span aria-hidden="true" class="ml-2">&rarr;</span></a>
                                        <a href="{{ path('app_devenir_client') }}" class="mb-3 -mx-3 block rounded-full px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 border-solid border border-main hover:bg-gray-100 transition duration-200">Devenir client</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}

            {% set current_route = app.request.attributes.get('_route') %}
            {% set exception = app.request.attributes.get('exception') %}
            {% set status_code = exception ? exception.statusCode : 200 %}

            {% if current_route not in excluded_routes and status_code not in [404, 403, 500] %}
                {% include 'components/_block_CTA_footer.html.twig' %}
            {% endif %}
        </main>

        <footer class="bg-main" aria-labelledby="footer-heading">
            <h2 id="footer-heading" class="sr-only">Fiduciaire Genevoise</h2>
            <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
                <div class="xl:grid xl:grid-cols-3 xl:gap-8">
                    <div class="space-y-6">
                        <a href="{{ path('app_home') }}">
                            <img class="h-7 mb-10" src="{{ asset('media/logo/logo-blanc.webp') }}" alt="Fiduciaire Genevoise Logo">
                        </a>
                        <h3 class="text-2xl font-semibold leading-6 text-white flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                            </svg>
                            <span class="ml-2"><a href="tel:0225624239">022 562 42 39</a></span>
                        </h3>
                        <h3 class="leading-6 text-gray-300 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <span class="ml-2">Lun - Vend 09h/19h30</span>
                        </h3>
                        <h3 class="leading-6 text-gray-300 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                            </svg>
                            <span class="ml-2">contact@fiduciaire-genevoise.ch</span>
                        </h3>
                    </div>
                    <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                        <div class="md:grid md:grid-cols-2 md:gap-8">
                            <div>
                                <h3 class="text-sm font-semibold leading-6 text-white">Services</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="{{ path('app_services_fiduciaire') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Services fiduciaire</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_audit_et_controles') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Audit et contrôles</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_corporate_finance') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Corporate finance</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_conseil_entreprise') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Conseil entreprise</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-10 md:mt-0">
                                <h3 class="text-sm font-semibold leading-6 text-white">Support</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="{{ path('app_a_propos') }}" class="text-sm leading-6 text-gray-300 hover:text-white">À propos</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_contact') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Contactez-nous</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_faq') }}" class="text-sm leading-6 text-gray-300 hover:text-white">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_blog') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Blog</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="md:grid md:grid-cols-2 md:gap-8">
                            <div>
                                <h3 class="text-sm font-semibold leading-6 text-white">Client</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    {% if app.user %}
                                        <li>
                                            <a href="{{ path('app_admin_dashboard') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Mon compte</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path('app_login') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Connexion</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('app_devenir_client') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Devenir client</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_newsletter') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Newsletter</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-10 md:mt-0">
                                <h3 class="text-sm font-semibold leading-6 text-white">Légal</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="{{ path('app_mentions_legales') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Mentions légales</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_donnees_personnelles') }}" class="text-sm leading-6 text-gray-300 hover:text-white">Données personnelles</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-between gap-x-3 mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
                    <p class="text-xs leading-5 text-gray-400">&copy; {{ 'now' | date('Y') }} FG Fiduciaire Genevoise SA, Fiduciaire à Genève. Tous droits réservés. <a href="{{ path('app_site_map') }}" class="font-second">Sitemap</a></p>
                    <div>
                        <a href="https://www.linkedin.com/company/fiduciaire-genevoise/" target="_blank">
                            <svg class="h-7 w-7" viewBox="0 0 206 206" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M103.168 205.211H102.718C46.4818 205.211 0.728516 159.444 0.728516 103.191V102.741C0.728516 46.4881 46.4818 0.721313 102.718 0.721313H103.168C159.405 0.721313 205.158 46.4881 205.158 102.741V103.191C205.158 159.444 159.405 205.211 103.168 205.211ZM102.718 7.64307C50.2946 7.64307 7.64824 50.302 7.64824 102.741V103.191C7.64824 155.63 50.2946 198.289 102.718 198.289H103.168C155.592 198.289 198.238 155.63 198.238 103.191V102.741C198.238 50.302 155.592 7.64307 103.168 7.64307H102.718Z" fill="white"/>
                                <path d="M51.291 69.849C48.6892 67.4333 47.3953 64.4431 47.3953 60.8853C47.3953 57.3276 48.6962 54.2057 51.291 51.7831C53.8929 49.3674 57.242 48.1561 61.3454 48.1561C65.4488 48.1561 68.6665 49.3674 71.2614 51.7831C73.8633 54.1988 75.1572 57.2376 75.1572 60.8853C75.1572 64.5331 73.8563 67.4333 71.2614 69.849C68.6596 72.2647 65.3589 73.476 61.3454 73.476C57.332 73.476 53.8929 72.2647 51.291 69.849ZM72.9706 83.7064V157.769H49.575V83.7064H72.9706Z" fill="white"/>
                                <path d="M150.852 91.0225C155.952 96.56 158.498 104.16 158.498 113.837V156.461H136.279V116.841C136.279 111.961 135.013 108.168 132.487 105.468C129.962 102.769 126.557 101.412 122.294 101.412C118.032 101.412 114.627 102.762 112.102 105.468C109.576 108.168 108.31 111.961 108.31 116.841V156.461H85.959V83.4987H108.31V93.1753C110.572 89.9497 113.624 87.4025 117.458 85.5267C121.291 83.6509 125.602 82.7164 130.397 82.7164C138.936 82.7164 145.759 85.4851 150.852 91.0225Z" fill="white"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
