{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}Créer une Société Anonyme en Suisse (SA){% endblock %}
{% block description %}Fiduciaire Genevoise vous guide dans la création de votre Société Anonyme (SA) en Suisse. Bénéficiez de notre expertise pour assurer un lancement réussi et faire croitre de votre activité.{% endblock %}
{% block url %}{{ path('app_create_society_SA') }}{% endblock %}

{% block ogTitle %}Fiduciaire Genevoise - Créer une Société Anonyme en Suisse (SA){% endblock %}
{% block ogUrl %}https://fiduciaire-genevoise.ch/creation-de-societe/societe-anonyme{%endblock %}
{% block ogImage %}{{ asset('media/site/fiduciaire-genevoise-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Fiduciaire Genevoise{% endblock %}
{% block ogDescription %}Fiduciaire Genevoise vous guide dans la création de votre Société Anonyme (SA) en Suisse. Bénéficiez de notre expertise pour assurer un lancement réussi et faire croitre de votre activité.{% endblock %}

{% block body %}
    <section class="relative bg-white">
        <div class="mx-auto max-w-7xl lg:grid lg:grid-cols-12 lg:gap-x-8 lg:px-8">
            <div class="px-6 pb-24 pt-10 sm:pb-32 lg:col-span-7 lg:px-0 lg:pb-24 lg:pt-24 xl:col-span-6">
                <div class="mx-auto max-w-2xl lg:mx-0">
                    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:mt-5 sm:text-6xl">Créer une Société Anonyme</h1>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Fiduciaire Genevoise vous guide dans la création de votre Société Anonyme (SA) en Suisse. Faites confiance à notre équipe d'experts pour démarrer ou faire évoluer votre entreprise avec succès.</p>
                    <div class="mt-10 flex items-center gap-x-4">
                        <a href="{{ path('app_contact') }}" class="flex items-center gap-x-3 text-sm rounded-full font-semibold bg-main px-5 py-4 text-white border-solid border border-main hover:bg-transparent hover:text-main transition duration-200">
                            <span class="relative flex h-3 w-3">
                              <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"></span>
                              <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"></span>
                            </span>
                            Nous contacter
                        </a>
                        <p class="hidden md:block mt-10 md:mt-0 font-medium text-base font-main tracking-wide items-center">
                            Un conseiller vous rappelle sous 2h
                        </p>
                    </div>
                </div>
            </div>
            <div class="relative lg:col-span-5 lg:-mr-8 xl:absolute xl:inset-0 xl:left-1/2 xl:mr-0">
                <div class="top-0 left-0 w-full h-full object-cover">
                    <img class="h-56 w-full bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:left-0 lg:h-full" src="{{ asset('media/site/fiduciaire-genevoise-creation-sa.jpg') }}" alt="Fiduciaire Genevoise, Comptabilité, Audit & Fiscalité ">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gray-50 py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:text-center">
                <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Les avantages d'une SA en Suisse</h2>
                <p class="mt-6 text-lg leading-8 text-gray-600">Alliant protection des actionnaires et structure adaptée, la SA est idéale pour les entreprises en croissance et les investisseurs souhaitant limiter leurs risques.</p>
            </div>
            <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
                <dl class="grid grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none md:grid-cols-2 lg:grid-cols-4">
                    <div class="flex flex-col rounded-md shadow-lg hover:shadow-xl transition duration-200 bg-white p-6">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg class="h-5 w-5 flex-none text-red-custom"  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                            </svg>
                            <h3>Responsabilité limitée</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">
                                Les actionnaires ne sont responsables qu’à la hauteur de leur apport en capital ce
                                qui protège leur patrimoine personnel en cas de difficultés financières de la société.
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col rounded-md shadow-lg hover:shadow-xl transition duration-200 bg-white p-6">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg class="h-5 w-5 flex-none text-red-custom" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                            </svg>
                            <h3>Confidentialité</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">
                                La confidentialité des actionnaires est totalement conservée et le nom des
                                actionnaires ne sont pas publics. Ils n’apparaissent pas non plus au niveau du
                                registre du commerce.
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col rounded-md shadow-lg hover:shadow-xl transition duration-200 bg-white p-6">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg class="h-5 w-5 flex-none text-red-custom" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                            </svg>
                            <h3>Crédibilité accrue</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">
                                La SA confère à la société une image de solidité financière et de crédibilité forte pour
                                les partenaires commerciaux et les clients.
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col rounded-md shadow-lg hover:shadow-xl transition duration-200 bg-white p-6">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg class="h-5 w-5 flex-none text-red-custom" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                            </svg>
                            <h3>Transfert facilité</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">
                                Les actions d’une SA sont facilement transférables entre les actionnaires de la
                                société ce qui permet de structurer la gouvernance au fil de la croissance de
                                l’activité.
                            </p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>
    <section class="relative bg-white">
        <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
            <div class="order-1 px-6 pb-24 pt-16 sm:pb-32 sm:pt-20 lg:col-start-2 lg:px-8 lg:pt-32">
                <div class="mx-auto max-w-2xl lg:mr-0 lg:max-w-lg">
                    <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Qu'est-ce qu'une Société Anonyme ?</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600">
                        Une Société Anonyme (SA) est une forme de personne morale qui permet aux actionnaires de <u>limiter leur responsabilité</u> au montant du capital social de la société. Cela signifie que leur responsabilité personnelle est protégée sur le plan financier et juridique.
                    </p>
                    <p class="mt-6 text-lg leading-8 text-gray-600">
                        À la différence de toutes les autres formes juridiques en Suisse, <u>la SA est une société réellement anonyme pour les actionnaires</u>. C’est-à-dire que les actionnaires ne sont pas visibles au niveau du registre du commerce (seuls les administrateurs le sont).
                    </p>
                    <dl class="mt-16 grid max-w-xl gap-8 sm:mt-20 grid-cols-2 xl:mt-16">
                        <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                            <dt class="text-sm leading-6 text-gray-600">de capital social</dt>
                            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">100'000 CHF</dd>
                        </div>
                        <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                            <dt class="text-sm leading-6 text-gray-600">associé minium</dt>
                            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">01</dd>
                        </div>
                    </dl>
                </div>
            </div>
            <img class="order-2 h-56 w-full bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-1/2" src="{{ asset('media/site/fiduiciaire-genevoise-a-geneve.webp') }}" alt="Fiduciaire Genevoise, Comptabilité, Audit & Fiscalité ">
        </div>
    </section>
    <section class="relative bg-white">
        <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
            <div class="px-6 pb-24 pt-16 sm:pb-32 sm:pt-20 lg:px-8 lg:pt-32">
                <div class="mx-auto max-w-2xl lg:max-w-lg">
                    <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Simplifiez vos démarches de création d'entreprise</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600">
                        Faire appel à une fiduciaire pour la création de votre Société Anonyme (SA) en Suisse, c'est l'assurance d'un accompagnement professionnel, rigoureux et conforme à la législation.
                    </p>
                    <p class="mt-6 text-lg leading-8 text-gray-600">
                        Fiduciaire Genevoise vous guide à chaque étape de votre projet, <u>garantissant un lancement réussi et en toute sérénité</u>. Nous serions ravis de vous rencontrer dans nos bureaux à Genève pour discuter de vos objectifs et vous apporter notre expertise.
                    </p>
                    <div class="mt-10 flex items-center gap-x-6">
                        <a href="{{ path('app_contact') }}" class="text-sm rounded-full font-semibold bg-main px-3.5 py-2.5 text-white border-solid border border-main hover:bg-transparent hover:text-main transition duration-200">Contactez-nous</a>
                    </div>
                </div>
            </div>
            <img class="h-56 w-full bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-1/2" src="{{ asset('media/site/fiduciaire-genevoise-bureau-geneve.webp') }}" alt="Fiduciaire en Suisse depuis 2017, bureau de la société">
        </div>
    </section>
    <section class="bg-gray-50 py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:text-center">
                <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Un processus de création d'entreprise simple</h2>
            </div>
            <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
                <dl class="grid grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none md:grid-cols-1 lg:grid-cols-3">
                    <div class="flex flex-col rounded-md shadow-lg hover:shadow-xl transition duration-200 bg-white p-6">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <div class=" text-red-custom rounded-full border border-red-custom">
                                <span class="px-3 py-1 text-sm">1</span>
                            </div>
                            <h3>Prise de contact</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">
                                Nous vous accueillons volontiers dans nos locaux sur prise d’un rendez-vous.
                                L’ensemble de ces échanges informatifs sont gratuits.
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col rounded-md shadow-lg hover:shadow-xl transition duration-200 bg-white p-6">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <div class=" text-red-custom rounded-full border border-red-custom">
                                <span class="px-3 py-1 text-sm">2</span>
                            </div>
                            <h3>Transmission des documents</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">
                                Nous vous transmettons la liste des documents à réceptionner pour constituer notre
                                dossier et lancer le processus de création de la société.
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col rounded-md shadow-lg hover:shadow-xl transition duration-200 bg-white p-6">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <div class=" text-red-custom rounded-full border border-red-custom">
                                <span class="px-3 py-1 text-sm">3</span>
                            </div>
                            <h3>Ouverture de la société</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">
                                Une fois le processus de création engagé, le registre du commerce enregistre la
                                société sous 10 jours environ.
                            </p>
                        </dd>
                    </div>
                </dl>
                <div class="mt-12 flex justify-center">
                    <a href="{{ path('app_contact') }}" class="text-sm rounded-full font-semibold px-3.5 py-2.5 text-gray-900 border-solid border border-main hover:bg-main hover:text-white transition duration-200">Contactez un conseiller</a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="mx-auto max-w-6xl divide-y divide-gray-900/10 px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
            <h2 class="text-2xl font-bold tracking-tight text-gray-900">Questions fréquentes</h2>
            <dl class="mt-10 space-y-8 divide-y divide-gray-900/10">
                <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                    <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5 gap-x-2 flex align-bottom">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-auto text-red-custom mt-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                        <p class="font-main">
                            Quel est le capital social nécessaire à l'ouverture d'une société anonyme ?
                        </p>
                    </dt>
                    <dd class="mt-4 lg:col-span-7 lg:mt-0">
                        <p class="text-base leading-7 text-gray-600">
                            Le capital social nécessaire est de <u>100'000 CHF</u>. Cependant, un versement de 50'000 CHF sur le compte bancaire de consignation permet l'inscription au registre du commerce et le démarrage de l'activité.                        </p>
                    </dd>
                </div>
                <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                    <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5 gap-x-2 flex align-bottom">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-auto text-red-custom mt-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                        <p class="font-main">
                            Combien de temps pour créer une société anonyme en Suisse ?
                        </p>
                    </dt>
                    <dd class="mt-4 lg:col-span-7 lg:mt-0">
                        <p class="text-base leading-7 text-gray-600">
                            Le temps d'enregistrement d'une société au registre du commerce est de <u>10 jours</u>.
                        </p>
                    </dd>
                </div>
                <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                    <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5 gap-x-2 flex align-bottom">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-auto text-red-custom mt-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                        <p class="font-main">
                            Quelles sont les étapes clés du processus pour créer une société anonyme en Suisse ?
                        </p>
                    </dt>
                    <dd class="mt-4 lg:col-span-7 lg:mt-0">
                        <p class="text-base leading-7 text-gray-600">
                            Choisir un statut social pour votre société, choisissez le nom de la société au registre du commerce, avoir un capital social de 50'000 CHF poser un compte bancaire Suisse, faire son inscription TVA, nominée un gérant de la société à responsabilité limitée.
                        </p>
                    </dd>
                </div>
                <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                    <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5 gap-x-2 flex align-bottom">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-auto text-red-custom mt-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                        <p class="font-main">
                            Quelles autres formes juridiques existent pour créer une entreprise en Suisse ?
                        </p>
                    </dt>
                    <dd class="mt-4 lg:col-span-7 lg:mt-0">
                        <p class="text-base leading-7 text-gray-600">
                            Il existe deux autres formes juridiques pour créer une entreprise en Suisse : <a href="{{ path('app_create_society_RI') }}" class="underline underline-offset-2 font-second font-medium">la Raison Individuelle (RI)</a> et la <a href="{{ path('app_create_society_SARL') }}" class="underline underline-offset-2 font-second font-medium">Société à Responsabilité Limitée (SARL)</a>.
                        </p>
                    </dd>
                </div>
            </dl>
        </div>
    </section>
{% endblock %}